config SHIELD_PUEO_DONGLE
	def_bool $(shields_list_contains,pueo_dongle)
config SHIELD_PUEO_LEFT
      def_bool $(shields_list_contains,pueo_left)
config SHIELD_PUEO_RIGHT
      def_bool $(shields_list_contains,pueo_right)
