# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_PUEO_LEFT
      def_bool $(shields_list_contains,pueo_left)

config SHIELD_PUEO_RIGHT
      def_bool $(shields_list_contains,pueo_right)
