#include <dt-bindings/zmk/matrix_transform.h>
#include "wakizashi-layouts.dtsi"

/ {
    chosen {
        zmk,physical-layout = &wakizashi_physical_layout;
    };
};

/ {
    kscan0: kscan_composite {
        compatible = "zmk,kscan-composite";
        rows = <4>;
        columns = <9>;

        charlieplex {
            kscan = <&kscan1>;
        };

        matrix {
            kscan = <&kscan2>;
            row-offset = <8>; // ...and shift it to not overlap
			col-offset = <8>; // ...and shift it to not overlap
        };
    };

	kscan1: kscan_charlieplex {
        compatible = "zmk,kscan-gpio-charlieplex";

        gpios
	    	= <&xiao_d 7 GPIO_ACTIVE_HIGH>  // 0 - col0
            , <&xiao_d 3 GPIO_ACTIVE_HIGH>  // 1 - row0
            , <&xiao_d 4 GPIO_ACTIVE_HIGH>  // 2 - row1
            , <&xiao_d 8 GPIO_ACTIVE_HIGH>  // 3 - col1
            , <&xiao_d 6 GPIO_ACTIVE_HIGH>  // 4 - row3
            , <&xiao_d 9 GPIO_ACTIVE_HIGH>  // 5 - col2
            , <&xiao_d 5 GPIO_ACTIVE_HIGH> // 6 - row2
            , <&xiao_d 10 GPIO_ACTIVE_HIGH>  // 7 - col3
            ;
    };

	kscan2: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
        col-gpios
            = <&xiao_d 0 GPIO_ACTIVE_HIGH>
            ;
        row-gpios
            = <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};



/ {
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <9>; // Length of the "col-gpios" array
        rows = <4>; // Length of the "row-gpios" array
        map = <
        	RC(1,0) RC(0,1) RC(3,0) RC(0,3) 	  		RC(0,5) RC(5,0) RC(0,7) RC(7,0)
	    	RC(1,2) RC(2,1) RC(3,2) RC(2,3) 	  		RC(2,5) RC(5,2) RC(2,7) RC(7,2)
	    	RC(1,6) RC(6,1) RC(3,6) RC(6,3)  RC(8,8) 	RC(6,5) RC(5,6) RC(6,7) RC(7,6)
	    	RC(1,4) 	    RC(3,4) RC(4,3) 	 		RC(4,5) RC(5,4) 		RC(7,4)
        >;
    };
};
