config ZMK_PM_SOFT_OFF
	default y
config ZMK_POINTING
	default y

if SHIELD_TWENNY_DONGLE

config ZMK_KEYBOARD_NAME
    default "twenny"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config BT_MAX_CONN
    default 2

config BT_MAX_PAIRED
    default 2

endif

if SHIELD_TWENNY_LEFT || SHIELD_TWENNY_RIGHT

config ZMK_SPLIT
	default y

endif
