#include "twenny-layouts.dtsi"
#include <dt-bindings/zmk/matrix_transform.h>
/ {
	chosen {
        	zmk,physical-layout = &twenny_physical_layout;
		zmk,kscan = &kscan0;
   	};
	kscan0: kscan0 {
		compatible = "zmk,kscan-gpio-direct";
		wakeup-source;

		input-gpios
		= <&xiao_d 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&xiao_d 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&xiao_d 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&xiao_d 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&xiao_d 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&xiao_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&xiao_d 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&xiao_d 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&xiao_d 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&xiao_d 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		;
	};
	default_transform: keymap_transform_twenny {
		compatible = "zmk,matrix-transform";
		columns = <4>;
		rows = <4>;
		map = <
			RC(3,0) RC(2,0) RC(0,0) RC(11,0) RC(13,0) RC(21,0)
		RC(10,0) RC(6,0) RC(5,0) RC(4,0) RC(20,0) RC(19,0) RC(18,0) RC(14,0)
				RC(8,0) RC(9,0) RC(15,0) RC(16,0)
					RC(7,0) RC(17,0)
		>;
	};
};