#include <dt-bindings/zmk/matrix_transform.h>
#include "lebroke-layouts.dtsi"

/ {
    chosen {
        zmk,physical-layout = &lebroke_physical_layout;
    };
};

/ {

    kscan0: kscan_composite {
        compatible = "zmk,kscan-composite";
        rows = <4>;
        columns = <10>;

        // Include the charlieplex driver
        charlieplex {
            kscan = <&kscan1>;
        };

        // Include the matrix driver...
        matrix {
            kscan = <&kscan2>;
            row-offset = <15>; // ...and shift it to not overlap
    	    col-offset = <15>;
        };
    };

    kscan1: kscan_charlieplex {
        compatible = "zmk,kscan-gpio-charlieplex";

        gpios
	    = <&pro_micro 2 GPIO_ACTIVE_HIGH>  // 0
            , <&pro_micro 3 GPIO_ACTIVE_HIGH>  // 1
            , <&pro_micro 4 GPIO_ACTIVE_HIGH>  // 2
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>  // 3
            , <&pro_micro 6 GPIO_ACTIVE_HIGH>  // 4
            , <&pro_micro 7 GPIO_ACTIVE_HIGH>  // 5
            , <&pro_micro 8 GPIO_ACTIVE_HIGH>  // 6
            , <&pro_micro 14 GPIO_ACTIVE_HIGH> // 7
            , <&pro_micro 15 GPIO_ACTIVE_HIGH> // 8
            , <&pro_micro 16 GPIO_ACTIVE_HIGH> // 9
            , <&pro_micro 18 GPIO_ACTIVE_HIGH> // 10
            , <&pro_micro 19 GPIO_ACTIVE_HIGH> // 11
            , <&pro_micro 20 GPIO_ACTIVE_HIGH> // 12
            , <&pro_micro 21 GPIO_ACTIVE_HIGH> // 13
            ;
    };
    
    kscan2: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
        col-gpios
            = <&pro_micro 1 GPIO_ACTIVE_HIGH> // 14
            ;
        row-gpios
            = <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // 15
            ;
    };
};



/ {
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <10>; // Length of the "col-gpios" array
        rows = <4>; // Length of the "row-gpios" array
        map = <
            RC(7,8)  RC(7,10) RC(7,11) RC(7,12) RC(7,13)    RC(5,0) RC(5,1) RC(5,2) RC(5,3) RC(5,4)
	    RC(8,7)  RC(10,7) RC(11,7) RC(12,7) RC(13,7)    RC(0,5) RC(1,5) RC(2,5) RC(3,5) RC(4,5)
	    RC(9,8)  RC(9,10) RC(9,11) RC(9,12) RC(9,13)    RC(6,0) RC(6,1) RC(6,2) RC(6,3) RC(6,4)
	                      RC(11,9) RC(12,9) RC(13,9)    RC(0,6) RC(1,6) RC(2,6)         RC(15,15)
        >;
    };
};
