/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------
            // |  q    |  w   |  e   |  v   |  m   |  i   |   o   |  back |
            // |  a    |  s   |  d   |  r   |  u   |  k   |   l   |  p    |
            // | shift |  x   |  c   |  f   |  j   |        enter         |
            // | lower |                  space                   | raise |


            bindings = <
                &kp Q     &kp W     &kp E     &kp V     &kp M     &kp I     &kp O     &kp BSPC      &kp TRANS &kp TRANS &kp TRANS &kp TRANS 
		&kp A     &kp S     &kp D     &kp R     &kp U     &kp K     &kp L     &kp P         &kp TRANS &kp TRANS &kp TRANS &kp TRANS 
		&kp LSHFT &kp X     &kp C     &kp F     &kp J     &kp TRANS &kp RET   &kp TRANS     &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp mo1   &kp TRANS &kp TRANS &kp SPACE &kp TRANS &kp TRANS &kp TRANS &kp mo(2)     &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS     &kp TRANS &kp TRANS &kp TRANS &kp TRANS
            >;
        };

        lower_layer {
            // ------------------------------------------------------------
            // |       |      |      |  b   |  n   |      |       |       |
            // |       |      |      |  t   |  y   |      |       |       |
            // | shift |  z   |      |  g   |  h   |                      |
            // | trans |                  space                   | rshft |

            bindings = <
                &kp Q     &kp W     &kp E     &kp V     &kp M     &kp I     &kp O     &kp BSPC  &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp A     &kp S     &kp D     &kp R     &kp U     &kp K     &kp L     &kp P     &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp LSHFT &kp X     &kp C     &kp F     &kp J     &kp TRANS &kp RET   &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp mo(1) &kp TRANS &kp TRANS &kp SPACE &kp TRANS &kp TRANS &kp TRANS &kp mo(2) &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                
				 &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS
            >;
        };

        raise_layer {
            // ------------------------------------------------------------
            // |       |      |      |  b   |  n   |      |       |       |
            // |       |      |      |  t   |  y   |      |       |       |
            // | shift |  z   |      |  g   |  h   |                      |
            // | trans |                  space                   | rshft |

            bindings = <
                &kp Q     &kp W     &kp E     &kp V     &kp M     &kp I     &kp O     &kp BSPC                   &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp A     &kp S     &kp D     &kp R     &kp U     &kp K     &kp L     &kp P                      &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp LSHFT &kp X     &kp C     &kp F     &kp J     &kp TRANS &kp RET   &kp TRANS                  &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp mo(1) &kp TRANS &kp TRANS &kp SPACE &kp TRANS &kp TRANS &kp TRANS &kp mo(2)                  &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                
				 &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS
            >;
        };

         nav_layer {
            // ------------------------------------------------------------
            // |       |      |      |  b   |  n   |      |       |       |
            // |       |      |      |  t   |  y   |      |       |       |
            // | shift |  z   |      |  g   |  h   |                      |
            // | trans |                  space                   | rshft |

            bindings = <
                &kp Q     &kp W     &kp E     &kp V     &kp M     &kp I     &kp O     &kp BSPC                   &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp A     &kp S     &kp D     &kp R     &kp U     &kp K     &kp L     &kp P                      &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp LSHFT &kp X     &kp C     &kp F     &kp J     &kp TRANS &kp RET   &kp TRANS                  &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp mo(1) &kp TRANS &kp TRANS &kp SPACE &kp TRANS &kp TRANS &kp TRANS &kp mo(2)                  &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                
				 &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS
            >;
        };

        game_layer {
            // ------------------------------------------------------------
            // |       |      |      |  b   |  n   |      |       |       |
            // |       |      |      |  t   |  y   |      |       |       |
            // | shift |  z   |      |  g   |  h   |                      |
            // | trans |                  space                   | rshft |

            bindings = <
                &kp Q     &kp W     &kp E     &kp V     &kp M     &kp I     &kp O     &kp BSPC                   &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp A     &kp S     &kp D     &kp R     &kp U     &kp K     &kp L     &kp P                      &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp LSHFT &kp X     &kp C     &kp F     &kp J     &kp TRANS &kp RET   &kp TRANS                  &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                &kp mo(1) &kp TRANS &kp TRANS &kp SPACE &kp TRANS &kp TRANS &kp TRANS &kp mo(2)                  &kp TRANS &kp TRANS &kp TRANS &kp TRANS
                
				 &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS &kp TRANS
            >;
        };
    };
};