/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------
            // |  q    |  w   |  e   |  v   |  m   |  i   |   o   |  back |
            // |  a    |  s   |  d   |  r   |  u   |  k   |   l   |  p    |
            // | shift |  x   |  c   |  f   |  j   |        enter         |
            // | lower |                  space                   | raise |


            bindings = <
                &kp Q     &kp W     &kp E     &kp V     &kp M     &kp I     &kp O     &kp BSPC      &kp HOME &kp HOME &kp HOME &kp HOME 
				&kp A     &kp S     &kp D     &kp R     &kp U     &kp K     &kp L     &kp P         &kp HOME &kp HOME &kp HOME &kp HOME 
				&kp LSHFT &kp X     &kp C     &kp F     &kp J     &kp HOME  &kp ENTER &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
                &mo 1     &kp HOME  &kp HOME  &kp SPACE &kp HOME  &kp HOME  &kp HOME  &mo 2         &kp HOME &kp HOME &kp HOME &kp HOME
                &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
            >;
        };

        lower_layer {
            // ------------------------------------------------------------
            // |       |      |      |  b   |  n   |      |       |       |
            // |       |      |      |  t   |  y   |      |       |       |
            // | shift |  z   |      |  g   |  h   |                      |
            // | HOME |                  space                   | rshft |

            bindings = <
                &kp Q     &kp W     &kp E     &kp V     &kp M     &kp I     &kp O     &kp BSPC      &kp HOME &kp HOME &kp HOME &kp HOME 
				&kp A     &kp S     &kp D     &kp R     &kp U     &kp K     &kp L     &kp P         &kp HOME &kp HOME &kp HOME &kp HOME 
				&kp LSHFT &kp X     &kp C     &kp F     &kp J     &kp HOME  &kp ENTER &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
                &kp HOME  &kp HOME  &kp HOME  &kp SPACE &kp HOME  &kp HOME  &kp HOME  &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
                &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
            >;
        };

        raise_layer {
            // ------------------------------------------------------------
            // |       |      |      |  b   |  n   |      |       |       |
            // |       |      |      |  t   |  y   |      |       |       |
            // | shift |  z   |      |  g   |  h   |                      |
            // | HOME |                  space                   | rshft |

            bindings = <
                &kp Q     &kp W     &kp E     &kp V     &kp M     &kp I     &kp O     &kp BSPC      &kp HOME &kp HOME &kp HOME &kp HOME 
				&kp A     &kp S     &kp D     &kp R     &kp U     &kp K     &kp L     &kp P         &kp HOME &kp HOME &kp HOME &kp HOME 
				&kp LSHFT &kp X     &kp C     &kp F     &kp J     &kp HOME  &kp ENTER &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
                &kp HOME  &kp HOME  &kp HOME  &kp SPACE &kp HOME  &kp HOME  &kp HOME  &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
                &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
            >;
        };

         nav_layer {
            // ------------------------------------------------------------
            // |       |      |      |  b   |  n   |      |       |       |
            // |       |      |      |  t   |  y   |      |       |       |
            // | shift |  z   |      |  g   |  h   |                      |
            // | HOME |                  space                   | rshft |

            bindings = <
                &kp Q     &kp W     &kp E     &kp V     &kp M     &kp I     &kp O     &kp BSPC      &kp HOME &kp HOME &kp HOME &kp HOME 
				&kp A     &kp S     &kp D     &kp R     &kp U     &kp K     &kp L     &kp P         &kp HOME &kp HOME &kp HOME &kp HOME 
				&kp LSHFT &kp X     &kp C     &kp F     &kp J     &kp HOME  &kp ENTER &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
                &kp HOME  &kp HOME  &kp HOME  &kp SPACE &kp HOME  &kp HOME  &kp HOME  &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
                &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
            >;
        };

        game_layer {
            // ------------------------------------------------------------
            // |       |      |      |  b   |  n   |      |       |       |
            // |       |      |      |  t   |  y   |      |       |       |
            // | shift |  z   |      |  g   |  h   |                      |
            // | HOME |                  space                   | rshft |

            bindings = <
                &kp Q     &kp W     &kp E     &kp V     &kp M     &kp I     &kp O     &kp BSPC      &kp HOME &kp HOME &kp HOME &kp HOME 
				&kp A     &kp S     &kp D     &kp R     &kp U     &kp K     &kp L     &kp P         &kp HOME &kp HOME &kp HOME &kp HOME 
				&kp LSHFT &kp X     &kp C     &kp F     &kp J     &kp HOME  &kp ENTER &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
                &kp HOME  &kp HOME  &kp HOME  &kp SPACE &kp HOME  &kp HOME  &kp HOME  &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
                &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME  &kp HOME      &kp HOME &kp HOME &kp HOME &kp HOME
            >;
        };
    };
};