manifest:
  remotes:
    - name: zmk
      url-base: https://github.com/zmkfirmware
    - name: urob
      url-base: https://github.com/urob
    - name: mctechnology17
      url-base: https://github.com/mctechnology17
  projects:
    - name: zmk
      remote: zmk
      revision: v0.3.2
      import: app/west.yml
    - name: zmk-auto-layer
      remote: urob
      revision: v0.3.2 # set to same version as zmk above
    - name: zmk-adaptive-key
      remote: urob
      revision: v0.3.2 # set to same as ZMK version above
    - name: zmk-unicode
      remote: urob
      revision: v0.3.2
    - name: zmk-nice-oled
      remote: mctechnology17
      revision: main
  self:
    path: config
