#include <physical_layouts.dtsi>
/ {
    pocketpilot_physical_layout: pocketpilot_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "pocketpilot";
        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  100   25       0     0     0>
            , <&key_physical_attrs 100 100  300   25       0     0     0>
            , <&key_physical_attrs 100 100  500   25       0     0     0>
            , <&key_physical_attrs 100 100  700   25       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  600  100       0     0     0>
            , <&key_physical_attrs 100 100  100  125       0     0     0>
            , <&key_physical_attrs 100 100  300  125       0     0     0>
            , <&key_physical_attrs 100 100  500  125       0     0     0>
            , <&key_physical_attrs 100 100  700  125       0     0     0>
            , <&key_physical_attrs 100 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  800  150       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  600  200       0     0     0>
            , <&key_physical_attrs 100 100  300  225       0     0     0>
            , <&key_physical_attrs 100 100  500  225       0     0     0>
            , <&key_physical_attrs 100 100  225  325       0     0     0>
            , <&key_physical_attrs 100 100  325  325       0     0     0>
            , <&key_physical_attrs 100 100  475  325       0     0     0>
            , <&key_physical_attrs 100 100  575  325       0     0     0>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        complete;

        pocketpilot_physical_layout {
            physical-layout = <&pocketpilot_physical_layout>;
            positions =    < 0  1  2  3  4  5  >
		      , < 6  7  8  9  10 11 12 13 >
		      ,       < 14 15 16 18 >
		      ,       < 18 19 20 21 >;
        };
    };
};
